
/* ======== What do we do? ================== */

/* ================= Our team section========== */


.footer__background {
  background-color: var(--secondary-bacground-color);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-inline: auto;
}
.footer__box {
  display: flex;
  align-items: baseline;
}
.logo__address {
  margin-right: 70px;
}
address {
  font-style: normal;
  text-decoration-line: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  padding-top: 20px;
}

a.footer-mail__tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-mail__tel:hover,
.footer-mail__tel:focus {
  color: var(--selection-color);
}

ul.footer-mail__tel {
  list-style-type: none;
}
.join-us > h3 {
  display: flex;
  font-size: 14px;
  line-height: 1.14;
  color: var(--white-color);
  align-items: flex-start;
  padding-bottom: 20px;
}
.social-icons {
  display: flex;
  list-style: none;
  gap: 10px;
}
.social-icons__bg {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  height: 44px;
  width: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons__footer {
  display: flex;
  fill: var(--white-color);
  width: 20px;
  height: 20px;
}
.social-icons__bg:hover,
.social-icons__bg:focus {
  background-color: var(--selection-color);
}

.newsletter {
  display: flex;
  color: var(--white-color);
  align-items: baseline;
  margin-left: 78px;
}

.signup__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.submit-btn__icon {
  position: absolute;
  top: 13px;
  right: 28px;
  fill: var(--white-color);
}

.signup__input {
  margin-top: 20px;
  margin-right: 11px;
  background-color: var(--secondary-bacground-color);
  width: 356px;
  height: 50px;
  font-size: 16px;
  color:  rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-block: 15px;
  padding-left: 16px;
}

.submit-btn {
  position: relative;
  padding: 8px 72px 8px 42px;
  
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;

  background-color: var(--selection-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  border-color: var(--selection-color);
  border: 1px solid var(--selection-color);

  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

/* .submit-btn::after{
    content: "";
    position: absolute;
    background-image: url("./images/icon_send.jpg");
    width: 24px;
    height: 24px;
    stroke: var(--white-color);
    fill: var(--white-color);
  }/*

/* ========Portfolio============== */

.buttons {
  list-style-type: none;
  display: flex;
  justify-content: center;
  height: 54px;
  margin-top: 94px;
  margin-bottom: 34px;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border-style: none;
  border-radius: 5px;
  padding: 6px 22px;
  margin-right: 8px;
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--selection-color);
  color: var(--white-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio__cards {
  list-style-type: none;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 94px;
}
img {
  display: block;
}

.portfolio-card__item {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}
.portfolio-card__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: none;
  margin-bottom: 4px;
}
.portfolio-card__type {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-bacground-color);
}
.portfolio-card {
  background: var(--white-color);
  flex-basis: calc((100% - 60px) / 3);
  overflow: hidden;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover,
.portfolio-card:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* ============= OVERLAY ================== */
.box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  background-color: var(--selection-color);

  will-change: transform;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay > p {
  font-family: "Roboto", sans-serif;
  color: var(--white-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  padding: 49px 45px 49px 24px;
}

.portfolio-card:hover .overlay,
.portfolio-card:focus .overlay {
  transform: translateY(0);
}

/* =======BACKDROP============= */

/* @keyframes modalBox{
0%{
  transform: scale(0.5);
}
100%{
  transform: scale(1);
}
} */





/* .modal .is-hidden {
  transform: scale(0);
  transition: transform 0.2s;
  transition-timing-function: ease-out;
} */

/* 
  .box{
    background-color: orange;
    transition-property: background-color, transform;
  transition-duration: 500ms;
  transition-timing-function: linear; [ease-in, ease-out, ease-in-out]
  transition-delay: 0;
  
transition: [property] [duration] [timing-function] [delay]
transition: background-color 500ms linear, transform 500ms ease-in-out;
transition: background-color 500ms linear, transform 500ms ease-in-out 500ms;  

.box:hover {
  background-color: teal;
  transform: rotate(180deg);
}
  */
