@import "./utils/variables";
@import "./utils/reset";
@import "./utils/backdrop";
@import "./utils/hidden";

@import "./components/header";
@import "./components/banner";
@import "./components/nav";
@import "./components/logo";
@import "./components/modal";
@import "./components/second-heading";
@import "./components/skills";
@import "./components/specialization";
@import "./components/team-section";
@import "./components/social-list";
@import "./components/clients";
@import "./components/footer";
@import "./components/join_us";
@import "./components/social-icon";
@import "./components/newsletter";
@import "./components/portfolio-buttons";
@import "./components/portfolio-cards";
@import "./components/overlay";

