.clients-section {
    background-color: var(--white-color);
    padding-bottom: 94px;
  }
.clients-section__list {
    display: flex;
    list-style: none;
    justify-content: space-around;
  }
  
.clients-section__icon {
    display: flex;
    width: 170px;
    fill: var(--icon-color);
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        border-color: var(--selection-color);
        cursor: pointer;
      };
      &:hover svg,
      &:focus svg {
          fill: var(--selection-color);
        }
  }
    
.client-icon__link {
    display: flex;
    fill: var(--icon-color);
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
  }
  
.client-icon__svg {
    display: flex;
  }
  