.footer-background {
  background-color: var(--secondary-bacground-color);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-inline: auto;

  &__box {
    display: flex;
    align-items: baseline;
  }
}

a.footer-mail__tel {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--selection-color);
    }
  }
  
  ul.footer-mail__tel {
    list-style-type: none;
  }
  .logo-address {
    margin-right: 70px;
  }
  address {
    font-style: normal;
    text-decoration-line: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-color);
    padding-top: 20px;
  }