  .header {
    border-bottom: 1px solid #ececec;
    &__bar {
      display: flex;
      margin-bottom: 0;
      text-decoration-line: none;
      align-items: center;
      justify-content: space-between;
    }
  }