.logo-link {
    text-decoration: none;
    // display: flex;
    margin-right: 93px;
    
  &:hover,
  &:focus,
  &:visited {
    text-decoration-color: var(--selection-color);
  }}
  
  .logo-sign {
    font-family: "Raleway", sans-serif;
    width: 145px;
    height: 31px;
    color: var(--font-color);
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  .logo-part {
    color: var(--selection-color);
  }
  .logo-studio {
    color: var(--white-color);
  }