.nav {
  display: flex;
  align-items: center;
  &__section {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--font-color);
    text-decoration: none;
    list-style-type: none;
    padding-block: 32px;
    padding-left: 93px;
    gap: 2rem;
    & > ul {
      margin-left: 93px;
    }
  }

  &__point {
    letter-spacing: 0.02em;
    color: var(--font-color);
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--selection-color);
    }
  }
  &__contact {
    color: var(--secondary-font-color);
    list-style: none;
    display: flex;
    font-size: 14px;
    gap: 2rem;
  }
}

.agencja,
.portfolio {
  position: relative;
  &::after,
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--selection-color);
    bottom: -32px;
    left: 0;
  }
}

.contact-icon {
  fill: var(--secondary-font-color);
  text-decoration: none;
}

.contact-mail,
.contact-tel {
  display: flex;
  text-decoration: none;
  color: var(--secondary-font-color);
  gap: 1rem;
  align-items: center;
  transition-property: color, stroke;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--selection-color);
  }

  &:focus svg,
  &:hover svg {
    fill: var(--selection-color);
  }
}
