.newsletter {
    display: flex;
    color: var(--white-color);
    align-items: baseline;
    margin-left: 78px;
  }
  
  .signup-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  
  
  .signup-input {
    margin-top: 20px;
    margin-right: 11px;
    background-color: var(--secondary-bacground-color);
    width: 356px;
    height: 50px;
    font-size: 16px;
    color:  rgba(255, 255, 255, 0.6);
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-block: 15px;
    padding-left: 16px;
  }
  
  .submit-btn {
    position: relative;
    padding: 8px 72px 8px 42px;
    
    color: var(--white-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    
    background-color: var(--selection-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid var(--selection-color);
    
    transition-property: background-color, border-color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
    &:focus,
    &:hover {
      background-color: darkblue; 
      border-color: darkblue;
      transform: scale(1.10);
    }
    &__icon {
          position: absolute;
          top: 13px;
          right: 28px;
          fill: var(--white-color);
        }
      }
  
  