.skills-section {
  display: flex;
  gap: 30px;
  padding: 0;
  margin-bottom: 94px;
  list-style: none;
}

.skills-section__list{
  flex-basis: calc((100% - 30px) / 4);
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.skills-section__list > h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.skills-section__icons {
  all: unset;
  display: flex;
  justify-content: center;
  background-color: var(--third-bacground-color);
  padding: 25px 100px;
  margin-bottom: 30px;
}
.skills-section__text {
  text-transform: none;
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-font-color);
}