.specialization__description {
    position: absolute;
    bottom: 0;
    margin: 0;
    color: var(--white-color);
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.14;
    text-transform: uppercase;
    height: 70px;
    width: 370px;
    padding: 27px 90px;
    background-color: rgba(47, 48, 58, 0.8);
  }
  
  .specialization__image {
    display: block;
  };
  
  .specialization__list {
    position: relative;
    display: flex;
    gap: 30px;
    list-style: none;
    margin-bottom: 94px;
  }