.specialization {
  display: none;
  
  @include desktop {
  display: block;
  &__list {
  position: relative;
  display: flex;
  gap: 30px;
  list-style: none;
  margin-bottom: 94px;}

  &__description {
    position: absolute;
    bottom: 0;
    margin: 0;
    color: var(--white-color);
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.14;
    text-transform: uppercase;
    height: 70px;
    width: 370px;
    padding: 27px 88px;
    background-color: rgba(47, 48, 58, 0.8);
  }
  
  &__image {
    display: block;
  }
  .second-heading {
    display: flex;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    justify-content: center;
    margin-bottom: 50px;
  }
  
    @include tablet {
    }
    @include desktop {

    }
  }
}