*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;

    @media (min-width: var(--mobile-breakpoint)) {
     width: 448px;
      }
    @media (min-width: var(--tablet-breakpoint) ) {
     width: 720px;
      }
    @media (min-width: var(--desktop-breakpoint)) {
     width: 1200px;
      }
    }
    
  h1,
  h2,
  h3,
  button {
    margin: auto;
  }
  
  ul {
    -webkit-padding-start: 0;
            padding-inline-start: 0;
  }
  .list {
    list-style: none;
  }