:root {
    --font-color: #212121;
    --background-color: #e5e5e5;
    --selection-color: #2196f3;
    --secondary-font-color: #757575;
    --secondary-bacground-color: #2f303a;
    --third-bacground-color: #f5f4fa;
    --icon-color: #afb1b8;
    --white-color: #ffffff;
  }